<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
           function hideURLbar(){ window.scrollTo(0,1); }
    </script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <script src="~/Content/js/jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/jquery.countdown.css" />
    <link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
</head>
<body>
    <script type="text/javascript" src="~/Content/js/bootstrap-3.1.1.min.js"></script>
    @Html.Partial("_Navbar")
    @RenderBody()
    @Html.Partial("_Footer")
    <script src="~/Content/js/minicart.js"></script>
    <script>
        w3ls.render();

        w3ls.cart.on('w3sb_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) {
                }
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>